<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Django VS Sysadmin</title>

		<link rel="shortcut icon" href="media/favicon.ico" type="image/x-icon">
		<link rel="icon" href="media/favicon.ico" type="image/x-icon">

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/white.css" id="theme">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/dracula.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

	</head>

	<body>
		<div class="reveal">
			<div class="slides">
				<!-- Slide 00 (title) -->
				<section>
					<h2 style="color:#0C4B33;">Django VS Sysadmin</h2>
					<h3>PyConES, Septiembre 2017, Cáceres</h3>
				</section>

				<!-- Slide 01 (demo ref) -->
				<section>
				   <h2 style="color:#0C4B33;">Pruébalo</h2>
				   <p><a href="https://github.com/klashxx/PyConES2017" style="font-family:courier;">https://github.com/klashxx/PyConES2017</a></p>
				   <ul>
					   <li>Estructurada en ramas</li>
					   <li>Incremental</li>
                       <li>Docker</li>
				   </ul>

				</section>

				<!-- Slide 02 (contact info) -->
				<section>
				    <section>
				    	<h2 style="color:#0C4B33;">Autobombo</h2>
				    	<ul>
				    	  <li>Sysadmin desde 2004</li>
				    	  <li>Primer programa Amstrad CPC6128</li>
						</ul>
						<p><a href="https://klashxx.github.io/about" style="font-family:courier;">https://klashxx.github.io/about</a></p>
					</section>
					<section data-background="media/web-experience.gif">
					    <h1 style="color:white;">Web Experience = 0</h1>
					    <aside class="notes">
						Motivación ¿Vountario?
				        </aside>
					</section>

				</section>

				<!-- Slide 03 (why Django?) -->
				<section>
					<section>
						<h2 style="color:#0C4B33;">¿Por qué Django?</h2>
						<ul>
						    <li class="fragment" data-fragment-index="0">Python</li>
						    <br>
						    <li class="fragment" data-fragment-index="1">Fiable</li>
						    <br>
						    <li class="fragment" data-fragment-index="2">ORM</li>
						    <br>
							<li class="fragment" data-fragment-index="3">Extesible</li>
						    <br>
							<li class="fragment" data-fragment-index="4">DRF y otras hierbas</li>
						    <br>
						    <li class="fragment" data-fragment-index="5">Admin Site</li>
						</ul>
						<aside class="notes">
							<ul>
								<li>Python: mejor lenguaje para administrar sistemas.</li>
								<li>Fiable: GitHub Starts, comunidad, webs en producción.</li>
								<li>ORM: modelos con persistencia</li>
								<li>Extensible: acoplar nuevas apps aprovechando una infraestructura común (autenticación, plantillas, etc)</li>
							</ul>
						</aside>
					</section>
					<section data-background="media/win.gif">
						<h1 style="color:white;">Win or Win</h1>
					</section>
				</section>

				<!-- Slide 04 (first fail) -->
				<section>
					<section>
						<h2 style="color:#0C4B33;">First Fail</h2>
						<h3>CMS</h3>
						<aside class="notes">
							<p>Awesome Django: Wagtail, Django-CMS, Mezzanine, etc: por debajo era magia negra para mi. Me imposibilitaba la adaptación a mis necesidades</p>
							<p>Zen Django, que se mueve under the hood</p>
							<p>Django girls y Mozilla</p>
						</aside>
					</section>
					<section data-background="media/nerd.gif">
						<h1 style="color:white;">Empezar por los basics</h1>
					</section>
				</section>

				<!-- Slide 05 (dev env) -->
				<section>
					<section>
						<h2 style="color:#0C4B33;">Desarrollo</h2>
						<ul>
						    <li class="fragment" data-fragment-index="0">virtualenv</li>
						    <br>
						    <li class="fragment" data-fragment-index="1">Docker</li>
						    <br>
						    <li class="fragment" data-fragment-index="2">docker-compose</li>
						    <br>
							<li class="fragment" data-fragment-index="3">Kubernetes - Docker-Swarm</li>
						</ul>
						<aside class="notes">
							<p>virtualenv: evitaremos al menos romper cosas</p>
							<p>Clonar un repositorio y lanzar un comando… ya tenemos nuestra web levantada con su *proxy-server* y su *BD* ¿no resulta mágico?</p>
							<p>¡Pues esa es la idea! Dockerizar y simular el entorno productivo con compose</p>
						</aside>
					</section>
					<section data-background="media/whale.gif">
						<h1 style="color:white;">Docker es amor!</h1>
					</section>
				</section>

				<!-- Slide 06 (databases) -->
				<section>
					<section>
						<h2 style="color:#0C4B33;">Databases</h2>
						<ul>
							<li>PostgreSQL</li>
							<li>MySQL</li>
							<li>SQLite</li>
							<li>Oracle</li>
						</ul>
						<aside class="notes">
							<ul>
								<li>Primeros experimentos nos vale SQLite</li>
								<li>Entornos productivos cualquiera de las otras tres opciones</li>
							</ul>
					     </aside>
					</section>
					<section data-transition="slide" data-background="#0C4B33" data-background-transition="zoom">
						<h2>Go for PostgreSQL !</h1>
					</section>
				</section>

				<!-- Slide 07 (conf) -->
				<section>
					<section>
                        <h2 style="color:#0C4B33; text-transform: lowercase;">settings.py y .env</h2>
						<ul>
						    <li class="fragment" data-fragment-index="0">Configuración</li>
						    <br>
						    <li class="fragment" data-fragment-index="1">Ocultar los secretos</li>
						    <br>
						    <li class="fragment" data-fragment-index="2">Variables globales</li>
						</ul>
						<aside class="notes">
							<ul>
								<li>Configuración global de nuestro proyecto, similar a profile  bash</li>
								<li>Crítico</li>
							</ul>
						</aside>
					</section>
					<section data-transition="slide" data-background="#0C4B33" data-background-transition="zoom">
						<h3>Decouple</h3>
						<h6>.env</h6>
						<pre>
							<code data-trim data-noescape>
							SECRET_KEY=#^p^js0g91jhtarws6bp7s@r&988%%n_ok6#b)q=3s1v8-(si$
							</code>
						</pre>
						<h6>settings.py</h6>
						<pre>
							<code data-trim data-noescape>
							from decouple import config
							SECRET_KEY = config('SECRET_KEY')
							</code>
						</pre>
					</section>
					<section data-transition="slide" data-background="#0C4B33" data-background-transition="zoom">
						<h3>DJ DATABASE URL</h3>
						<h6>.env</h6>
						<pre>
							<code data-trim data-noescape>
								DB_URL=postgresql://postgres:postgres@postgres:5432/postgres
							</code>
						</pre>
						<h6>settings.py</h6>
						<pre>
							<code data-trim data-noescape>
								DATABASES = {
								'default': dj_database_url.config(default=config('DB_URL')),
								}
							</code>
						</pre>
					</section>
				</section>

				<!-- Slide 08 (second fail) -->
				<section>
					<section>
						<h2 style="color:#0C4B33;">Second Fail</h2>
						<h3>La estructura del proyecto</h3>
					</section>
					<section data-transition="slide" data-background-transition="zoom">
						<h3>DOCS</h3>
						<pre>
							<code data-trim>
							mysite/
							    manage.py
							    mysite/
							    	__init__.py
							    	settings.py
							    	urls.py
							    	wsgi.py
							    polls/
							    	__init__.py
							    	admin.py
							    	migrations/
							    		__init__.py
							    		0001_initial.py
							    	models.py
							    	static/
							    		polls/
							    			images/
							    				background.gif
							    			style.css
							    	templates/
							    		polls/
							    			detail.html
							    			index.html
							    			results.html
							    	tests.py
							    	urls.py
							    	views.py
							    templates/
							    	admin/
							    		base_site.html
							</code>
						</pre>
						<aside class="notes">
							<p>El proyecto (a partir de ahora sysgate) empezó con dos apps:</p>
							<ul>
								<li>Gestión de la autenticación (usuarios y grupos)</li>
								<li>La aplicación en si (llamémosla metrics)</li>
							</ul>
						</aside>
					</section>
					<section data-transition="slide" data-background-transition="zoom">
						<h3>First try</h3>
						<pre>
							<code data-trim>
							sysgate/
							    manage.py
							    sysgate/
							    	__init__.py
							    	settings.py
							    	urls.py
							    	wsgi.py
							    account/
							    	__init__.py
							    	…
							    metrics/
							    	__init__.py
							    	…
							    templates/
							    	account/
							    		login.html
							    	metrics/
							    		home.html
							</code>
						</pre>
						<aside class="notes">
							<p>Problema: Añadir una nueva aplicación x y mantener HOME común: apps disponibles en función de permisos.</p>
							<ul>
								<li>¿En account?: no, se trata de separar funcionalidades y esta aplicación tiene un propósito único especifico que es la gestión de usuarios.</li>
								<li>¿En metrics?: no way, esto nos obligaría a duplicar el código en x, o lo que es peor usar una vista de metrics.</li>
							</ul>
							<p>Solución: creación de una aplicación CORE, donde agrupar las funcionalidades comunes que puedan ser llamadas desde cualquier otra aplicación.</p>
						</aside>
					</section>
					<section data-transition="slide" data-background="#0C4B33" data-background-transition="zoom">
						<h3>F*CK YEAH</h3>
						<pre>
							<code data-trim>
                            sysgate/
                                manage.py
                                sysgate/
                                    __init__.py
                                    settings.py
                                    urls.py
                                    wsgi.py
                                    routers.py
                                    account/
                                        __init__.py
                                        ...
                                    apps/
                                        __init__.py
                                        core/
                                            templatetags/
                                                __init__.py
                                                core_tags.py
                                            templates/
                                                core/
                                                    home.html
                                                    ...
                                            __init__.py
                                            ...
                                        metrics/
                                            templates/
                                                metrics/
                                                    home.html
                                                    ...
                                            __init__.py
                                            ...
                                        manager/
                                            templates/
                                                manager/
                                                    home.html
                                                    ...
                                            __init__.py
                                            ...
                                    static/
                                        ...
                                    fixtures/
                                        ...
                                    templates/
                                        account/
                                            login.html
                                            ...
                                        base.html
							</code>
						</pre>
						<aside class="notes">
							<p>La vista home, se renderizará a partir de la plantilla core ¿make sense?</p>
							<ul>
								<li>Añadir aplicaciones de forma indefinida aprovechando la infraestructura común expuesta por ACCOUNT y CORE.</li>
								<li>Permite trabajar independientemente en cualquier app sin temor a romper nada</li>
							</ul>
						</aside>
					</section>
					<section data-background="media/productivity.gif">
						<h1 style="color:white;">PRODUCTIVITY BOOST</h1>
					</section>
				</section>

				<!-- Slide 09 (urls.py) -->
				<section>
					<section>
						<h2 style="color:#0C4B33; text-transform: lowercase;">urls.py</h2>
						<ul>
							<li class="fragment" data-fragment-index="0">Regexp</li>
							<br>
							<li class="fragment" data-fragment-index="1">Modular</li>
						</ul>
						<aside class="notes">
							<p>El enrutamiento se basa en expresiones regulares.</p>
							<p>Cuando llamamos a una url, Django en primer usa el urls.py de la raíz del proyecto y a partir de ahí tratara de resolverla.</p>
						</aside>
					</section>
					<section data-transition="slide" data-background="#0C4B33" data-background-transition="zoom">
						<h6>root</h6>
						<pre>
							<code data-trim data-noescape>
							urlpatterns = [
								url(r'^', include('apps.core.urls', namespace='core')),
								url(r'^account/', include('account.urls'), name='Autenticación'),
								url(r'^metrics/', include('apps.metrics.urls'), name='Métricas'),
								url(r'^manager/', include('apps.manager.urls'), name='Manager'),
								url(r'^admin/', admin.site.urls),
								]
							</code>
						</pre>
						<h6>core</h6>
						<pre>
							<code data-trim data-noescape>
							urlpatterns = [
								url(r'^$', views.Home.as_view(), name='home'),
								]
							</code>
						</pre>
						<aside class="notes">
							<h3>¿Que pasa si introducimos nuestro dominio a secas?</h3>
							<p>Django recorrerá las cinco regex que tenemos parametrizadas, determinara que la que única que cumple el patrón es la primera, donde le indicamos que cargue las urls de la aplicación core</p>
							<p>Solo tenemos un patrón contemplado la cadena vacia, que enrutaremos hacia la vista HOME de CORE.</p>
						</aside>
					</section>
				</section>

				<!-- Slide 10 (models and views) -->
				<section>
					<section>
						<h2 style="color:#0C4B33;">Modelos y vistas …¿Dónde está el controlador?</h2>
						<ul>
							<li class="fragment" data-fragment-index="0">Framework «MTV». «Model», «Template» y «View»</li>
						</ul>
						<aside class="notes">
							<p>En la práctica nos basta con saber:</p>
							<ul>
								<li>Diseñar los modelos.</li>
								<li>Programar las vistas y su template.</li>
							</ul>
						</aside>
					</section>
					<section data-transition="slide" data-background-transition="zoom">
						<h2 style="color:#0C4B33; text-transform: lowercase;">models.py</h2>
						<ul>
							<li>Clase cuyos objetos instanciados están dotados de persistencia en BD</li>
						</ul>
						<aside class="notes">
							<p>Un modelo se traduce en una tabla cuyos campos se mapean con las variables de la clase.</p>
							<p>Diseñarlos requiere pensar detenidamente en los datos que se desean representar.</p>
						</aside>
					</section>
					<section data-transition="slide" data-background="#0C4B33" data-background-transition="zoom">
						<h2>TIPS</h2>
						<ul>
							<li class="fragment" data-fragment-index="0">managed = False</li>
							<br>
							<li class="fragment" data-fragment-index="1">Campo único</li>
						</ul>
						<aside class="notes">
							<p>Por defecto Django crea las tablas mediante las migrations, pero podemos establecer que el modelo no sea manejado e incorporar una tabla preexistente al ecosistema, es una  forma de integrar datos provenientes de aplicaciones externas, y se nos proporcionan utilidades para inspeccionar el modelo.</p>
						</aside>
					</section>
					<section data-transition="slide" data-background-transition="zoom">
						<h2 style="color:#0C4B33; text-transform: lowercase;">views.py</h2>
						<ul>
							<li>Extraer datos de nuestros models.py</li>
							<li>NO necesitamos SQL</li>
						</ul>
					</section>
					<section data-transition="slide" data-background="#0C4B33" data-background-transition="zoom">
						<h2>TIPS</h2>
						<ul>
							<li>Class Based Views</li>
						</ul>
						<aside class="notes">
							<p>Pueden parecer más complicadas pero a largo plazo compensa su aprendizaje por la potencia que ofrecen</p>
						</aside>
					</section>
					<section data-transition="slide" data-background-transition="zoom">
						<h2 style="color:#0C4B33; text-transform: lowercase;">template.html</h2>
						<ul>
							<li>Representa los datos extraidos por la vista</li>
						</ul>
					</section>
					<section data-transition="slide" data-background="#0C4B33" data-background-transition="zoom">
					    <pre>
						    <code data-trim>
								<h1>Metrics App</h1>
								<p>Bienvenid@ <strong>{{ request.user }}</strong></p>
								<p>Disponibles:</p>
								<table style="border: 1px solid black;">
								{% for metrica in metricas %}
								  <tr>
									<td>{{ metrica.nombre }}</td>
									<td>{{ metrica.get_tipo_display }}</td>
								  </tr>
								{% endfor %}
								</table>
						    </code>
					    </pre>
					</section>
				</section>

				<!-- Slide 11 (auth) -->
				<section>
					<section>
							<h2 style="color:#0C4B33;">Autenticación y registro</h2>
							<ul>
								<li class="fragment" data-fragment-index="0">AbstractUser</li>
								<br>
								<li class="fragment" data-fragment-index="1">Auth views</li>
							</ul>
							<aside class="notes">
								<ul>
									<li>SIEMPRE heredar del Abstractuser, nos permitirá olvidarnos del modelo Profile. Esto debe hacerse siempre en la creación del proyecto ya que la migración de el modelo de User es muy complicada.</li>
									<li>Auth Views que ya nos viene de serie y permiten avanzar rápido en el proyecto sin perjuicio de una customización posterior.</li>
								</ul>
							 </aside>
						</section>
					</section>

				<!-- Slide 12 (drf) -->
				<section>
					<section>
						<h2>DRF</h2>
						<h4>First try</h4>
						<pre>
							<code data-trim data-noescape>
							class Home(View):
								def get(self, request, *args, **kwargs):
								  metricas = Metrica.objects.all().order_by('tipo')
								  return render(
									  request,
									  'metrics/home.html',
									  context={'metricas': metricas})
							</code>
						</pre>
						<pre>
                        	<code data-trim data-noescape>
							   {% for metrica in metricas %}
							   <tr>
							      <td>{{ metrica.nombre }}</td>
							      <td>{{ metrica.get_tipo_display }}</td>
							   </tr>
					    	   {% endfor %}
							</code>
						</pre>
						<aside class="notes">
							<p>Extraer un contexto en el views.py y enviársela al template para que renderizara los resultados.</p>
							<p>Para páginas sencillas el resultado era el esperado pero la cosa se complica si tienes que representar miles de datos.</p>
						</aside>
					</section>
					<section data-background-transition="zoom" data-background-image="media/backvsfront.png" data-background-size="500px" data-background-repeat="repeat">
						<aside class="notes">
							<p>La idea es simple, nuestro proyecto expondrá una API, en nuestro caso REST que será invocada directamente desde nuestras plantillas.</p>
						</aside>
					</section>
					<section>
						<h2>Serializando ...</h2>
						<pre>
							<code data-trim data-noescape>
							class SerializerMetricas(serializers.ModelSerializer):
							    class Meta:
							        model = Metrica
							        fields = '__all__'
							</code>
						</pre>
						<pre>
							<code data-trim data-noescape>
							class MetricasViewSet(viewsets.ModelViewSet):
							  serializer_class = SerializerMetricas
							  http_method_names = ['get']
							  filter_backends = (OrderingFilter, SearchFilter,)
							  search_fields = ('tipo',)
							  def get_queryset(self):
							  	queryset = Metrica.objects.all().order_by('tipo')
							  	tipo = self.request.query_params.get('tipo', None)
							  	if tipo is not None:
							  		queryset = queryset.filter(tipo=tipo)
							  	return queryset
							</code>
						</pre>
						<aside class="notes">
							<p>Extraer un contexto en el views.py a partir del serializer y enviársela al template para que renderizara los resultados.</p>
							<p>Para páginas sencillas el resultado era el esperado pero la cosa se complica si tienes que representar miles de datos.</p>
						</aside>
						</section>
						<section>
							<h2>REST API</h2>
							<pre>
								<code data-trim data-noescape>
								{
									"nombre": "USERS",
									"long_tipo": "Custom",
									"tipo": "c",
									"alta": "2017-08-13T10:21:19.015000Z",
									"descripcion": "Return users ..."
								},
								{
									"nombre": "READ",
									"long_tipo": "Disk",
									"tipo": "d",
									"alta": "2017-08-13T10:15:09.516000Z",
									"descripcion": "Number of reads"
								}
								</code>
							</pre>
							<aside class="notes">
								<p>La tecnología trending es GraphQL y sin duda es el futuro, pero DRF es sin duda el mejor añadido a Django, y para ciertas querys resulta de difícil substitución, un caso claro es el de las métricas donde necesitamos todos los campos y de forma secuencial.</p>
								<p>Al igual que ocurre con la separación de aplicaciones en la estructuración del proyecto, si separamos el Backend del Frontend podremos dividir el trabajo de forma más eficiente, además la API podrá ser integrada por otras aplicaciones por ejemplo móviles.</p>
					 		</aside>
						</section>
						<section data-background="media/productivity.gif">
							<h1 style="color:white;">PRODUCTIVITY BOOST INCREASED!</h1>
						</section>
					</section>
				</section>

				<!-- Slide 13 (frontend) -->
				<section>
					<section>
						<h2>Frontend (Templating)</h2>
						<pre>
							<code data-trim data-noescape>
							├── account
							├── apps
							│   ├── core
							│   │   ├── templates
							│   │   │   └── core
							│   │   │       └── home.html
							│   │   ├── templatetags
							│   │   │   └── core_tags.py
							│   └── metrics
							│       ├── templates
							│       │   └── metrics
							│       │       └── home.html
							├── templates
							│   ├── account
							│   │   └── login.html
							│   └── base.html
							</code>
						</pre>
						<aside class="notes">
					 		<ul>
								 <li>Base del Frontend y la tercera pata del MVT: HTML + JS ,etc</li>
								 <li>Muy inteligente, teniendo en cuenta que Django no esta enfocado a la construcción de single-page applications</li>
								 <li>Cada app tendrá sus propios templates encargados de renderizar los datos proporcionados por la vista que invoca o extraídos directamente desde la API.</li>
							</ul>
						</aside>
					</section>
					<section>
						<h2>Conceptos</h2>
						<ul>
							<li class="fragment" data-fragment-index="0">Herencia</li>
							<br>
							<li class="fragment" data-fragment-index="1">Lenguaje</li>
							<br>
							<li class="fragment" data-fragment-index="2">Custom Tags y Filtros</li>
						</ul>
						<aside class="notes">
							<ul>
								<li>La herencia (se podría comparar con las Clases) permite extender y modificar la plantilla heredada conelementos básicos y el look and feel de nuestra web. (DRY).</li>
								<li>Sintaxis propia que nos permite expresarnos en el template de un modo programático proporcionándonos una enorme versatilidad.</li>
								<li>Los tags y filtros nos permiten incorporar código Python y usarlo en plantillas</li>
							</ul>
						</aside>
					</section>
					<section>
						<pre>
							<code data-trim data-noescape>
							from django import template
							register = template.Library()

							@register.filter('en_grupo')
							def en_grupo(user, group_name):
								groups = user.groups.all().values_list('name', flat=True)
								return True if group_name in groups else False
							</code>
						</pre>
						<pre>
							<code data-trim>
							{% extends 'base.html' %}
							{% load core_tags %}
							{% block content %}

							{% if request.user|en_grupo:"pycones" or user.is_superuser %}
								<h1>Metrics</h1>
								<a class="btn" href="{% url 'metrics:home' %}">Acceder</a>
							{% endif %}

							{% if not user.is_authenticated %}
							    <button type="button" class="close"></button>Longin
							{% endif %}
							{% endblock %}
							</code>
						</pre>
					</section>
					<section data-background="media/sunglasses.gif">
						<h1 style="color:white;">CUTE!</h1>
					</section>
				</section>

				<!-- Slide  -->
				<section data-background="media/bye.gif">
					<h1 style="color:white;">¡Muchas Gracias!</h1>
				</section>

			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
